<center>
    <p>First Ingredient:</p>
    <select id="ing1">
    <option value=" "> </option>
    <option value="flour">Flour</option>
    <option value="salt">Salt</option>
    <option value="whatever">Whatever</option>
  </select>
</center>

<center>
    <p>Second Ingredient:</p>
    <select id="ing2">
    <option value=" "> </option>
    <option value="flour">Flour</option>
    <option value="salt">Salt</option>
    <option value="whatever">Whatever</option>
  </select>
</center>

<center>
    <p>Third Ingredient:</p>
    <select id="ing3">
    <option value=" "> </option>
    <option value="flour">Flour</option>
    <option value="salt">Salt</option>
    <option value="whatever">Whatever</option>
  </select>
</center>

<center>
    <p>Max spending amount</p>
    <input name="max" type="number">
